<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />

    <queries>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
    </queries>

    <application
        android:name=".FoundItApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="FoundIT"
        android:supportsRtl="true"
        android:theme="@style/Theme.FoundIT"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.App.Starting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ConversationListActivity" />
        <activity android:name=".ChatActivity" />
        <activity android:name=".PossibleMatchActivity" />
        <activity android:name=".EditProfileActivity" android:windowSoftInputMode="adjustResize" />
        <activity android:name=".NotificationActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".MyReportsActivity" />
        <activity android:name=".ItemDetailActivity" />
        <activity android:name=".ReportActivity" android:windowSoftInputMode="adjustResize" />
        <activity android:name=".SearchActivity" />
        <activity android:name=".RegisterActivity" android:windowSoftInputMode="adjustResize" />
        <activity android:name=".LoginActivity" android:windowSoftInputMode="adjustResize" />
        <activity android:name=".MainActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.foundit.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>
</manifest>
